.editor-comp {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  .editor-left, .editor-right {
    width: 270px;
    border-radius: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(6px);
  }
  .editor-left {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    background: linear-gradient(
      to top right, rgba(90, 149, 207, 0.5), rgba(58, 76, 99, 0.8)
    );
    box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.2),
                -10px 10px 20px rgba(255, 255, 255, 0.1);
  }
  .editor-right {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    background: linear-gradient(
      to top left, rgba(90, 149, 207, 0.5), rgba(58, 76, 99, 0.8)
    );
    box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.2),
                -10px 10px 20px rgba(255, 255, 255, 0.1);
  }
  .editor-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    &-top {
      height: 80px;
    }
    &-canvas {
      position: absolute;
      top: 90px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: scroll;
    }
    &-content {
      width: 100vw;
      height: 100vh;
    }
  }
}